*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
}

html,body{
    margin: 0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #eaeaea;
}

ol,li{
    list-style: none;
}

a,button{
    outline-offset: 5px;
}

.wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}